body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centered-div {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
}
.centered-div .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.centered-div .item input[type="checkbox"] {
    margin-right: 10px;
}
.centered-div .confirm-button {
    text-align: center;
}

#canvasContainer {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 46px;
    height: 60%;
    max-height: 60%;
    overflow-y: auto;
}
#canvasContainerTitle{
    width: 80%;
    margin: 20px auto;
    margin-bottom: 46px;
    height: 10%;
    white-space: nowrap; /* Prevents text from breaking */
}
#hiddenItem{
    min-height: 20vh;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    height: 80%;
    width: 80%;
    border-radius: 10px;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.temperament-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.temperament-item:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #f0f0f0;
    width: 95%;
}
.temperament-item:nth-of-type(2) {
    font-size: 1.25rem;
    width: 70%;
}
.temperament-item:nth-of-type(3) {
    font-size: 1.125rem;
    width: 60%;
}
.temperament-item:nth-of-type(4) {
    font-size: 1rem;
    width: 50%;
}
#pageTitle{
   color: #062d61; 
   text-shadow: 2px 2px 4px white;
}

@media (max-width: 760px) {
    #popup {
        font-size: 0.5em;
    }
    .temperament-item:first-of-type {
        font-size: 1.25rem;
        font-weight: bold;
        background-color: #f0f0f0;
        width: 95%;
    }
    .temperament-item:nth-of-type(2) {
        font-size: 1.125rem;
        width: 90%;
    }
    .temperament-item:nth-of-type(3) {
        font-size: 1rem;
        width: 85%;
    }
    .temperament-item:nth-of-type(4) {
        font-size: 0.9rem;
        width: 80%;
    }
    .centered-div {
        width: 100%;
    }
    #canvasContainer {
        width: 95%;
    }
    #canvasContainerTitle h2{
        font-size: 29px !important;
    }
    .temperament-item {
        padding: 5px;
    }
    .popup {
        top: 50%;
        height: 90%;
    }
    #canvasContainerTitle{
        width: 100%;
    }
}