body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centered-div {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
}
.centered-div .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.centered-div .item input[type="checkbox"] {
    margin-right: 10px;
}
.centered-div .confirm-button {
    text-align: center;
}

#canvasContainer {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 46px;
}

#hiddenItem{
    min-height: 20vh;
}